

// Inclue any modificaitons to default


@import "../node_modules/bootstrap/scss/bootstrap";

body {
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: rgb(0, 20, 133);
}

p {
    color: red;
}


/* Styles the header*/
header{
    background-color: darkblue;
    padding: 30px;
    text-align: center;
    font-size: 35px;
    color: white;
}

/*Creates two colomns / boxes that float next to eachother */
nav{
    //float: left;
    width: 200px;
    background: gold;
    padding: 20px;
}

/* Styles the list insid the menu*/
nav ul{
    list-style-type: none;
    padding: 26px;
}

article{
    padding: 20px;
    width: 400px;
    background-color: whitesmoke;
}

/* Styles the footer */
footer{
    background-color: cyan;
    padding: 10px;
    text-align: center;
    color: white;
}